<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <!--標題-->
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-user font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">
                                權限控管
                            </span>
                        </div>

                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="authority_add.html">
                                    <i class="fa fa-plus-square"></i>&nbsp;新增控管群組
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--END 標題-->
                    <!--內容-->
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <i class="fa fa-users"></i> 權限群組
                                        </th>
                                        <th class="hidden-xs">
                                            <i class="fa fa-user"></i> 套用此權限管理者
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="highlight">
                                            <div class="success">
                                            </div>
                                            <a href="javascript:;">
                                                Admin
                                            </a>
                                        </td>
                                        <td class="hidden-xs">
                                            5
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs purple">
                                                <i class="fa fa-trash-o"></i> 刪除
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="info">
                                            </div>
                                            <a href="javascript:;">
                                                User
                                            </a>
                                        </td>
                                        <td class="hidden-xs">
                                            10
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs purple">
                                                <i class="fa fa-trash-o"></i> 刪除
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="success">
                                            </div>
                                            <a href="javascript:;">
                                                user_group1
                                            </a>
                                        </td>
                                        <td class="hidden-xs">
                                            2
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs purple">
                                                <i class="fa fa-trash-o"></i> 刪除
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="warning">
                                            </div>
                                            <a href="javascript:;">
                                                user_group2
                                            </a>
                                        </td>
                                        <td class="hidden-xs">
                                            6
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs purple">
                                                <i class="fa fa-trash-o"></i> 刪除
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--END內容-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
<!-- BEGIN PAGE CONTENT INNER -->
<!-- END PAGE CONTENT INNER -->