<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <!--標題-->
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-delicious font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">
                                套餐清單
                            </span>
                        </div>

                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="package_edit.html">
                                    <i class="fa fa-plus-square"></i>&nbsp;新增套餐
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--END 標題-->
                    <!--內容-->
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <i class="fa fa-delicious"></i> 套餐名稱
                                        </th>
                                        <th>
                                            <i class="fa fa-calendar-o"></i> 有效天數
                                        </th>
                                        <th>
                                            <i class="fa fa-dollar"></i> 套餐價格
                                        </th>
                                        <th>
                                            <i class="fa fa-edit"></i> 描述
                                        </th>
                                        <th>
                                            <i class="fa fa-sort-amount-asc"></i> 排序
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="highlight">
                                            <div class="success">
                                            </div>
                                            <a href="package_edit.html">
                                                家庭精選餐
                                            </a>
                                        </td>
                                        <td class="highlight">
                                            無期限
                                        </td>
                                        <td class="highlight">
                                            198/月
                                        </td>
                                        <td class="highlight">
                                            198元/月(含平台服務費)
                                        </td>
                                        <td class="highlight">
                                            1
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green">
                                                <i class="fa fa-pencil"></i> 編輯
                                            </a>
                                            <a href="javascript:;" class="btn default btn-xs purple">
                                                <i class="fa fa-trash-o"></i> 刪除
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="info">
                                            </div>
                                            <a href="package_edit.html">
                                                家庭優質餐
                                            </a>
                                        </td>
                                        <td class="highlight">
                                            30
                                        </td>
                                        <td class="highlight">
                                            100/月
                                        </td>
                                        <td class="highlight">
                                            優惠價100元/月
                                        </td>
                                        <td class="highlight">
                                            2
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green">
                                                <i class="fa fa-pencil"></i> 編輯
                                            </a>
                                            <a href="javascript:;" class="btn default btn-xs purple">
                                                <i class="fa fa-trash-o"></i> 刪除
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="success">
                                            </div>
                                            <a href="package_edit.html">
                                                家庭精選 B 餐
                                            </a>
                                        </td>
                                        <td class="highlight">
                                            30
                                        </td>
                                        <td class="highlight">
                                            101/月
                                        </td>
                                        <td class="highlight">
                                            優惠價101元/月
                                        </td>
                                        <td class="highlight">
                                            3
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green">
                                                <i class="fa fa-pencil"></i> 編輯
                                            </a>
                                            <a href="javascript:;" class="btn default btn-xs purple">
                                                <i class="fa fa-trash-o"></i> 刪除
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--END內容-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
<!-- BEGIN PAGE CONTENT INNER -->
<!-- END PAGE CONTENT INNER -->
