<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <!--標題-->
                    <div class="portlet-title">
                        <div class="caption">
                            套餐組成管理
                        </div>
                    </div>
                    <!--END 標題-->
                    <!--內容-->
                    <div class="portlet-body">
                        <form role="form">
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-offset-1 col-lg-2 control-label">套餐選擇 </label>
                                        <div class="col-lg-2">
                                            <select class="form-control">
                                                <option>家庭精選餐</option>
                                                <option>家庭優質餐</option>
                                                <option>家庭精選 B 餐</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-offset-1 col-lg-2 control-label">有效天數</label>
                                        <label class="col-lg-2 control-label text-danger">無期限</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-offset-1 col-lg-2 control-label">套餐價格</label>
                                        <label class="col-lg-2 control-label text-danger">198/月</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-offset-1 col-lg-2 control-label">描述</label>
                                        <label class="col-lg-2 control-label text-danger">198元/月(含平台服務費)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-offset-1 col-lg-2 control-label">加入套餐頻道商</label>
                                        <div class="col-lg-2">
                                            <div class="checkbox-list">
                                                <label>
                                                    <input type="checkbox"> 靖天
                                                </label>
                                                <label>
                                                    <input type="checkbox"> 潘朵拉
                                                </label>
                                                <label>
                                                    <input type="checkbox"> 木棉花
                                                </label>
                                                <label>
                                                    <input type="checkbox"> Universal
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-offset-3 col-lg-9">
                                            <button type="submit" class="btn btn-danger">儲存變更</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!--END內容-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
<!-- BEGIN PAGE CONTENT INNER -->
<!-- END PAGE CONTENT INNER -->